#buttons {
  grid-area: buttons;
  margin-top: 20px;
}

#buttons p {
  margin-top: 0;
}

form {
  display: inline;
}

#buttons button, #submit {
  width: 120px;
  background-color: #e1e1f1;
  color: #131445;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0;
  display: inline-block;
  margin: 0 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 4px #acaccc;
  position: relative;
  z-index: 1;
}

#date-input {
  height: 38.4px;
  font-family: inherit;
}

#buttons button:hover, #submit:hover {
  background-color: white;
}

#buttons button:active, #submit:active {
  box-shadow: 0 2px #acaccc;
  top: 2px;
}

@media (max-width: 450px) {
  #more-info-byDate {
    display: block;
    margin: 10px auto 0;
  }
}