h2 {
  font-size: 22px;
  margin: 10px 0;
}

figcaption, p, li {
  margin: 10px 0;
}

a {
  color: #f0f0fa;
}

a:hover {
  color: #acaccc;
}

main {
  display: grid;
  grid-template-areas: 
    "buttons"
    "main";
}

#about-page {
  max-width: 900px;
  text-align: left;
  margin: 20px 40px;
}

figure {
  line-height: 1em;
  margin: 20px 40px;
  height: calc(100vh - 185px);
  grid-area: main;
}

#media-container-byDate {
  height: calc(100vh - 218px);
}

#photo {
  margin-bottom: 10px;
  max-width: 100%;
  max-height: calc(100% - 66px);
}

.video {
  width: calc((100vh - 236px) * 16 / 9);
  height: calc(100vh - 236px);
}

#video-byDate {
  width: calc((100vh - 275px) * 16 / 9);
  height: calc(100vh - 275px);
}

.info-box {
  padding: 30px;
  margin: 18px 15%;
  width: 70%;
  height: auto;
  min-height: calc(100vh - 185px);
  background-color: #000e24;
  background-color: hsla(217, 100%, 7%, 0.95);
  border-radius: 10px;
  grid-area: main;
  z-index: 1;
}

#info-byDate {
  min-height: calc(100vh - 218px);
}

#info-box p {
  line-height: 1.5em;
}

#description {
  font-size: 16px;
  line-height: 26px;
}

.text-body {
  text-align: left;
}

footer {
  height: 30px;
}

@media (max-height: 690px) {
  body {
    font-size: 16px;
  }
  #photo {
    max-height: calc(100% - 52px);
  }
  footer {
    height: 20px;
  }
}

@media (orientation: portrait) {
  #info-box {
    padding: 20px;
    margin: 18px 10%;
    width: 80%;
  }

  #video {
    width: calc(100vw - 80px);
    height: calc((100vw - 80px) / 16 * 9);
  }
}