h2 {
  font-size: 22px;
  margin: 10px 0;
}

figcaption, p, li {
  margin: 10px 0;
}

a {
  color: #f0f0fa;
}

a:hover {
  color: #acaccc;
}

main {
  display: grid;
  grid-template-areas: 
    "buttons"
    "main";
}

footer {
  height: 30px;
}

@media (max-height: 690px) {
  body {
    font-size: 16px;
  }

  footer {
    height: 20px;
  }
}