header {
  height: 52px;
  padding: 10px;
  display: block;
  text-align: left;
  color: #c8bbf2;
  background-color: #28004f;
  box-shadow: 0 2px 4px black;
}

#hamburger {
  display: inline;
  font-size: 26px;
  color: #c8bbf2;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 8px;
}

#close {
  font-size: 22px;
  color: #c8bbf2;
  background-color: transparent;
  border: none;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  padding: 14px;
  z-index: 4;
}

h1 {
  display: inline;
  font-size: 26px;
  font-weight: 500;
  text-align: left;
}

#nav {
  display: none;
}

#overlay {
  position: absolute;
  background-color: #43394d;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  z-index: 2;
  opacity: 0.7;
}

header ul {
  background-color: #1a0033;
  position: absolute;
  padding: 50px 0 0;
  height: 100vh;
  width: 240px;
  top: 0;
  left: 0;
  z-index: 3;
}

header li {
  font-size: 18px;
  color: #c8bbf2;
  list-style-type: none;
  padding: 20px 40px;
  margin: 0;
}

header li:hover, #close:hover {
  color: #f5f0fa;
  background-color: #400080;
}

header a {
  text-decoration: none;
  color: #c8bbf2;
}

header a:hover, #hamburger:hover {
  color: #f5f0fa;
}

@media (max-width: 400px) {
  header {
    display: flex;
    align-items: center;
  }

  h1 {
    font-size: 18px;
    margin-top: 3px;
  }
}