.info-box {
  padding: 30px;
  margin: 18px 15%;
  width: 70%;
  height: auto;
  min-height: calc(100vh - 185px);
  background-color: #000e24;
  background-color: hsla(217, 100%, 7%, 0.95);
  border-radius: 10px;
  grid-area: main;
  z-index: 1;
}

.info-box p {
  line-height: 1.5em;
}

#info-byDate {
  min-height: calc(100vh - 218px);
}

#description {
  font-size: 16px;
  line-height: 26px;
}

.text-body {
  text-align: left;
}

@media (orientation: portrait) {
  .info-box {
    padding: 20px;
    margin: 18px 10%;
    width: 80%;
  }
}