* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  color: #f0f0fa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #131445;
  background-image: radial-gradient(#00009e, #131445);
  height: 100vh;
  margin: 0;
  text-align: center;
}