body {
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #131445;
  max-height: 100vh;
  margin: 0;
  text-align: center;
}